<h3> Welcome Jaafar </h3>
<h3> Welcome {{ name }} </h3>
<h3> Operation Example: {{5+5}} </h3>
<h3> {{"Concatination Example: This is " + name}} </h3>
<h3> {{"Length Example: " + name.length}} </h3>
<h3> {{"UpperCase Example: " + name.toUpperCase()}} </h3>
<h3> {{"Method Example: " + greetUser()}} </h3>
<h3> {{"Local Link: " + siteUrl}} </h3>
<div>
    <h1 style="text-align: center; font-size: 30px;"> Property Binding </h1>
    <input [id]="myId" type="text" value="Jaafar">
    <!-- we can use interpolation, but it's work only with string values -->
    <input id="{{myId}}" type="text" value="Jaafar">
    <!-- add disabled attribute using property binding -->
    <input [disabled]="isDisabled" type="text" value="Jaafar">
    <!-- add alternative synatax for property binding -->
    <input bind-disabled="isDisabled" type="text" value="Jaafar">

</div>
<div>
    <h1 style="text-align: center; font-size: 30px;"> Class Binding </h1>
    <h2 class="text-success"> Welcome Jaafar </h2>
    <h2 [class]="successClass" > Welcome Jaafar </h2>
    <h2 class="text-special" [class]="successClass"> Welcome Jaafar </h2>
    <h2 [class.text-danger]="hasError"> Welcome Jaafar </h2>
    <h2 [ngClass]="messageClasses"> Welcome Jaafar </h2>

</div>
<div>
    <h1 style="text-align: center; font-size: 30px;"> Event Binding </h1>
    <h2 class="text-success"> Welcome Jaafar </h2>
    <button (click)="onclick()" >GREET</button>
    {{greeting}}
</div>

<div>
    <h1 style="text-align: center; font-size: 30px;"> Template Reference Variables </h1>
    <input #myInput type="text">
    <button (click)="logMessage(myInput.value)" >Log</button>
</div>

<div>
    <h1 style="text-align: center; font-size: 30px;"> Two Wy Binding </h1>
    <input [(ngModel)]="twoWayProperty" type="text">
    {{ twoWayProperty }} 

</div>